<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Smoky" verbose="1">
    <test name="Smoky">
        <classes>
            <class name="com.herokuapp.tests.AlertsTests"/>
            <class name="com.herokuapp.tests.DragAndDropTest"/>
            <class name="com.herokuapp.tests.MultipleWindowsTest"/>
        </classes>
    </test>

</suite>